<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>transactionServlet</servlet-name>
        <servlet-class>controller.transactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewTransactionServlet</servlet-name>
        <servlet-class>controller.viewTransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createPurchaseOrderServlet</servlet-name>
        <servlet-class>controller.createPurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createReceiptServlet</servlet-name>
        <servlet-class>controller.createReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productController</servlet-name>
        <servlet-class>controller.productController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchProductController</servlet-name>
        <servlet-class>controller.searchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderListController</servlet-name>
        <servlet-class>controller.orderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderProduct</servlet-name>
        <servlet-class>controller.orderProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderController</servlet-name>
        <servlet-class>controller.CreateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorPage</servlet-name>
        <servlet-class>controller.errorPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeController</servlet-name>
        <servlet-class>controller.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayrollController</servlet-name>
        <servlet-class>controller.PayrollController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShiftController</servlet-name>
        <servlet-class>controller.ShiftController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryListServlet</servlet-name>
        <servlet-class>controller.InventoryListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QualityInspectionServlet</servlet-name>
        <servlet-class>controller.QualityInspectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarehouseIssueServlet</servlet-name>
        <servlet-class>controller.WarehouseIssueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarehouseLocationServlet</servlet-name>
        <servlet-class>controller.WarehouseLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarehouseReceiptServlet</servlet-name>
        <servlet-class>controller.WarehouseReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarehouseReportServlet</servlet-name>
        <servlet-class>controller.WarehouseReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateShipmentServlet</servlet-name>
        <servlet-class>controller.CreateShipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
      </servlet>
    <servlet>
        <servlet-name>CompleteShipController</servlet-name>
        <servlet-class>controller.CompleteShipController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateShipControlller</servlet-name>
        <servlet-class>controller.CreateShipController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transactionServlet</servlet-name>
        <url-pattern>/inbound/transactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewTransactionServlet</servlet-name>
        <url-pattern>/inbound/transactions/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createPurchaseOrderServlet</servlet-name>
        <url-pattern>/inbound/createpo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createReceiptServlet</servlet-name>
        <url-pattern>/inbound/create-receipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productController</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchProductController</servlet-name>
        <url-pattern>/products/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderListController</servlet-name>
        <url-pattern>/order/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderProduct</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderController</servlet-name>
        <url-pattern>/process/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorPage</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/employees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayrollController</servlet-name>
        <url-pattern>/payrolls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShiftController</servlet-name>
        <url-pattern>/shifts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryListServlet</servlet-name>
        <url-pattern>/warehouse/inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QualityInspectionServlet</servlet-name>
        <url-pattern>/warehouse/inspections</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarehouseIssueServlet</servlet-name>
        <url-pattern>/warehouse/issue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarehouseLocationServlet</servlet-name>
        <url-pattern>/warehouse/locations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarehouseReceiptServlet</servlet-name>
        <url-pattern>/warehouse/receipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarehouseReportServlet</servlet-name>
        <url-pattern>/warehouse/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateShipmentServlet</servlet-name>
        <url-pattern>/create-shipment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/change-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/PersonalProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/reset-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginStaff</url-pattern>
      </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteShipController</servlet-name>
        <url-pattern>/complete/ship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateShipControlller</servlet-name>
        <url-pattern>/process/ship</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
